*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* header */
header{
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
  height: 70px;
  margin-top: -60px;
}
.header_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}
header img{
  width: 238px;
  height: 53px;
}
header div{
  display: flex;
  align-items: center;
}
header ul{
  display: flex;
  list-style: none;
  background-color: #0095DE;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  font-weight: 700;
  margin: 0 10px;
}
header ul li{
  margin: 0 15px;
}
header ul li a{
  color: white;
  text-decoration: none;
}
header .top--header_contactbtn{
  background-color: #909090;
  color: white;
  border-radius: 20px;
  padding: 5px 20px;
  font-weight: 700;
  text-decoration: none;
}
/* header 終わり */
/* top-mv_wrap */
.top-mv_wrap{
  position: relative;
  margin-top: 60px;
}
.top-mv_wrap img{
  width: 97%;
}
.top-mv_wrap p {
  position: absolute;
  bottom: 30px;
  left: 55px;
  font-size: 2.5vw;
  color: white;
}
/* top-mv_wrap 終わり */
/* top--panf_wrap */
.top--panf_wrap{
  display: flex;
  justify-content: center;
}
.top--panf_wrap .panfs{
  position: relative;
}
.top--panf_wrap .panfs1{
  background-color: #EC8000;
  color: white;
  padding: 15px;
  border-radius: 40px;
  width: 370px;
  min-width: 370px;
  max-width: 370px;
  height: 750px;
  min-height: 750px;
  margin: 20px;
  max-height: 750px;
}
.top--panf_wrap .panfs2{
  background-color: #00A33C;
  color: white;
  padding: 15px;
  border-radius: 40px;
  width: 370px;
  min-width: 370px;
  max-width: 370px;
  height: 750px;
  min-height: 750px;
  margin: 20px;
  max-height: 750px;
}
.top--panf_wrap .panfs3{
  background-color: #E10065;
  color: white;
  padding: 15px;
  border-radius: 40px;
  width: 370px;
  min-width: 370px;
  max-width: 370px;
  height: 750px;
  min-height: 750px;
  margin: 20px;
  max-height: 750px;
}
.top--panf_wrap .panfs h2{
  font-size: 2vw;
  text-align: center;
}
.top--panf_wrap .panfs img{
  width: 100%;
  height: 250px;
}
.top--panf_wrap .panfs div{
  display: flex;
  padding: 0 0.4vw;
  gap: 0.5vw;
}
.top--panf_wrap .panfs .panfs_content{
  border-top: 1px dotted #fff;
  padding: 10px 0 0 0;
  line-height: 2vw;
  font-size: 14.5px;
}
.top--panf_wrap .panfs .goods_wrap{
  display: block;
  height: 120px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 35px;
}
.top--panf_wrap .panfs .goods_wrap div{
  margin: 15px 0;
}
.top--panf_wrap .panfs1 div .goodsicon1{
  background-color: white;
  color: #EC8000;
  font-weight: 700;
  border-radius: 5px;
  padding: 1px 8px;
}
.top--panf_wrap .panfs2 div .goodsicon2{
  background-color: white;
  color: #00A33C;
  font-weight: 700;
  border-radius: 5px;
  padding: 1px 8px;
}
.top--panf_wrap .panfs3 div .goodsicon3{
  background-color: white;
  color: #E10065;
  font-weight: 700;
  border-radius: 5px;
  padding: 1px 8px;
}
.top--panf_wrap .panfs .under_arrow{
  width: auto;
  height: auto;
  position: absolute;
  bottom: 35px;
  margin: 0 auto;
  right: 0;
  left: 0;
}
/* top--panf_wrap 終わり */
/* contact */
.contact{
  width: 100%;
  height: 15vw;
  background-image: url(./../img/bg_contact.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3vw;
  color: white;
  text-align: center;
  text-shadow: #000 1px 0 10px;
  line-height: 15vw;
  margin: 100px 0;
}
.order{
  margin: 50px 0;
}
.order img{
  display: block;
  width: 35%;
  margin: 0 auto;
}
/* contact 終わり */
/* Leaflets_flyers */
.Leaflets_flyers h2{
  width: 95%;
  background-color: #FADB8B;
  display: flex;
  padding: 0 10px;
  margin: 25px auto;
  border-radius: 10px;
  font-weight: 700;
}
.Leaflets_flyers span{
  font-size: 16px;
  margin: auto 0 auto auto;
}
.Leaflets_flyers .Leaflets_flyers_content{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.Leaflets_flyers .Leaflets_flyers_content table{
  /* border-collapse: collapse; */
  border-spacing: 0 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.Leaflets_flyers .Leaflets_flyers_content table tr{
  position: relative;
}

.Leaflets_flyers .Leaflets_flyers_content table tr:last-child::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  content: '';
  height: 1px;
  border-bottom: none;
}
.Leaflets_flyers .Leaflets_flyers_content table tr::after{
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  display: block;
  content: '';
  height: 1px;
  border-bottom: 1px solid #000;
}
.Leaflets_flyers .Leaflets_flyers_content table tbody tr td{
  padding: 20px;
  font-size: 2vw;
  text-align: center;
  /* border-top: 1px solid #000; */
}
.Leaflets_flyers .Leaflets_flyers_content table tbody tr td:first-child{
  border-right: 1px dotted #000;
  border-left: none;
  height: 95%;
}
.Leaflets_flyers .Leaflets_flyers_content table tbody tr td{
  border-left: 1px dotted #000;
  height: 95%;
  height: 233px;
  min-height: 233px;
  max-height: 233px;
}
.Leaflets_flyers .Leaflets_flyers_content table tbody tr td div label{
  background-color: #DADADA;
  display: block;
  font-size: 1.2vw;
  font-weight: 700;
  margin: 20px 0;
}
.Leaflets_flyers .Leaflets_flyers_content table tbody tr td div p{
  font-size: 1.8vw;
}
.Leaflets_flyers .Leaflets_flyers_content table tbody tr td div:first-child p{
  font-weight: 700;
}
.Leaflets_flyers .Leaflets_flyers_content table tbody tr td div:last-child p{
  color: #FF0000;
  font-weight: 700;
}
.Leaflets_flyers .Leaflets_flyers_content table tbody tr td div .memberprice{
  background-color: #FF0000;
  color: white;
  font-size: 1.5vw;
}
.Leaflets_flyers .Leaflets_flyers_content .ttl1{
  background-color: #EF9300;
  color: white;
  font-size: 1.7vw;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  font-weight: 700;
}
.Leaflets_flyers .Leaflets_flyers_content .subttl1{
  background-color: rgba(239, 147, 0, 30%);
  border-radius: 10px;
  display: block;
  padding: 10px 20px;
  font-size: 1.5vw;
  /* margin: auto; */
  text-align: center;
  line-height: 95vh;
  margin: 0 10px;
  font-weight: 700;
}
.Leaflets_flyers .Leaflets_flyers_content .ttl2{
  background-color: #EC8000;
  color: white;
  font-size: 1.7vw;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  font-weight: 700;
}
.Leaflets_flyers .Leaflets_flyers_content .subttl2{
  background-color: rgba(236,128,0,30%);
  border-radius: 10px;
  display: block;
  padding: 10px 20px;
  font-size: 1.5vw;
  /* margin: auto; */
  text-align: center;
  line-height: 80vh;
  margin: 0 10px;
  font-weight: 700;
}
.Leaflets_flyers .Leaflets_flyers_content .ttl3{
  background-color: #E65504;
  color: white;
  font-size: 1.7vw;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  font-weight: 700;
}
.Leaflets_flyers .Leaflets_flyers_content .subttl3{
  background-color: rgba(230,85,4,30%);
  border-radius: 10px;
  display: block;
  padding: 10px 20px;
  font-size: 1.5vw;
  /* margin: auto; */
  text-align: center;
  line-height: 80vh;
  margin: 0 10px;
  font-weight: 700;
}
/* .Leaflets_flyers div table tbody tr td{
  display: flex;
} */
/* Leaflets_flyers 終わり */
/* bifold_leaflet_content */
.bifold_leaflet h2{
  width: 95%;
  background-color: #D4E294;
  display: flex;
  padding: 0 10px;
  margin: 25px auto;
  border-radius: 10px;
  font-weight: 700;
}
.bifold_leaflet span{
  font-size: 16px;
  margin: auto 0 auto auto;
}
.bifold_leaflet .bifold_leaflet_content{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.bifold_leaflet .bifold_leaflet_content table{
  border-spacing: 0 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.bifold_leaflet .bifold_leaflet_content table tr{
  position: relative;
}
.bifold_leaflet .bifold_leaflet_content table tr:last-child::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  content: '';
  height: 1px;
  border-bottom: none;
}
.bifold_leaflet .bifold_leaflet_content table tr::after{
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  display: block;
  content: '';
  height: 1px;
  border-bottom: 1px solid #000;
}
.bifold_leaflet .bifold_leaflet_content table tbody tr td{
  padding: 20px;
  font-size: 2vw;
  text-align: center;
  /* border-top: 1px solid #000; */
}
.bifold_leaflet .bifold_leaflet_content table tbody tr td div p{
  font-size: 1.8vw;
}
.bifold_leaflet .bifold_leaflet_content table tbody tr td div:first-child p{
  font-weight: 700;
}
.bifold_leaflet .bifold_leaflet_content table tbody tr td div:last-child p{
  color: #FF0000;
  font-weight: 700;
}
.bifold_leaflet .bifold_leaflet_content table tbody tr td:first-child{
  /* border-right: 1px dotted #000; */
  border-left: none;
  height: 95%;
}
.bifold_leaflet .bifold_leaflet_content table tbody tr td{
  border-left: 1px dotted #000;
  height: 95%;
}
.bifold_leaflet .bifold_leaflet_content table tbody tr td div label{
  background-color: #DADADA;
  display: block;
  font-size: 1.2vw;
  font-weight: 700;
  margin: 20px 0;
}
.bifold_leaflet .bifold_leaflet_content table tbody tr td div .memberprice{
  background-color: #FF0000;
  color: white;
  font-size: 1.5vw;
}
.bifold_leaflet .bifold_leaflet_content .ttl1{
  background-color: #8ABF1F;
  color: white;
  font-size: 1.7vw;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  font-weight: 700;
}
.bifold_leaflet .bifold_leaflet_content .subttl1{
  background-color: rgba(138, 191, 31, 30%);
  border-radius: 10px;
  display: block;
  padding: 10px 20px;
  font-size: 1.5vw;
  /* margin: auto; */
  text-align: center;
  line-height: 80vh;
  margin: 0 10px;
  font-weight: 700;
}
.bifold_leaflet .bifold_leaflet_content .ttl2{
  background-color: #00a33c;
  color: white;
  font-size: 1.7vw;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  font-weight: 700;
}
.bifold_leaflet .bifold_leaflet_content .subttl2{
  background-color: rgba(0,163,60, 30%);
  border-radius: 10px;
  display: block;
  padding: 10px 20px;
  font-size: 1.5vw;
  /* margin: auto; */
  text-align: center;
  line-height: 80vh;
  margin: 0 10px;
  font-weight: 700;
}
/* bifold_leaflet_content 終わり */
/* bifold_leaflet_content */
.saddle_stitched_brochure h2{
  width: 95%;
  background-color: #FADB8B;
  display: flex;
  padding: 0 10px;
  margin: 25px auto;
  border-radius: 10px;
  font-weight: 700;
}
.saddle_stitched_brochure span{
  font-size: 16px;
  margin: auto 0 auto auto;
}
.saddle_stitched_brochure_content_wrap{
  display: flex;
  justify-content: center;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table{
  border-spacing: 0 30px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 1100px;
  min-width: 1100px;
  max-width: 1100px;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tr{
  position: relative;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tr:last-child::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  content: '';
  height: 1px;
  border-bottom: none;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tr::after{
  position: absolute;
  bottom: -13px;
  left: 0;
  width: 100%;
  display: block;
  content: '';
  height: 1px;
  border-bottom: 1px solid #000;
}

.saddle_stitched_brochure .saddle_stitched_brochure_content table tbody tr td div p{
  font-size: 1.8vw;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tbody tr td div:first-child p{
  font-weight: 700;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tbody tr td div:last-child p{
  color: #FF0000;
  font-weight: 700;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tbody tr td{
  padding: 20px;
  font-size: 2vw;
  text-align: center;
  /* border-top: 1px solid #000; */
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tbody tr td{
  /* border-bottom: 1px solid #000; */
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tbody tr td:first-child{
  /* border-right: 1px dotted #000; */
  border-left: none;
  height: 95%;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tbody tr td{
  border-left: 1px dotted #000;
  height: 95%;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tbody tr td div label{
  background-color: #DADADA;
  display: block;
  font-size: 1.2vw;
  font-weight: 700;
  margin: 20px 0;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content table tbody tr td div .memberprice{
  background-color: #FF0000;
  color: white;
  font-size: 1.5vw;
}
.saddle_stitched_brochure .ttl2{
  background-color: #E10065;
  color: white;
  font-size: 1.7vw;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  font-weight: 700;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content .subttl2{
  background-color: rgba(255, 0, 101, 30%);
  border-radius: 10px;
  display: block;
  padding: 10px 0;
  width: 60px;
  font-size: 1.5vw;
  /* margin: auto; */
  text-align: center;
  line-height: 95vh;
  margin: 0 10px;
  font-weight: 700;
}
.saddle_stitched_brochure .ttl1{
  background-color: #E86D80;
  color: white;
  font-size: 1.7vw;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
  font-weight: 700;
}
.saddle_stitched_brochure .saddle_stitched_brochure_content .subttl1{
  background-color: rgba(232,109,128, 30%);
  border-radius: 10px;
  display: block;
  padding: 10px 0;
  width: 60px;
  font-size: 1.5vw;
  /* margin: auto; */
  text-align: center;
  line-height: 95vh;
  margin: 0 10px;
  font-weight: 700;
}
/* bifold_leaflet_content 終わり */